.worktrees/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
__debug_bin*

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov
bin/
api
ketches
main
!api/
!ketches/
!main/

# env file
.env

# Editor/IDE
.idea/
.vscode/

# Agents
.opencode/*
.sisyphus/*
.cursor/*
docs/plans/*
ui/docs/plans/*

# Database
**/*.db